@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "ubuntu";
}

body {
  padding: 0 3vw;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.left {
  text-align: center;
  font-size: 1.7vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img {
  height: 70px;
  border-radius: 20%;
}

li {
  transition: color 0.3s ease;
  cursor: pointer;
}

li:hover {
  color: #ff6600;
}

.active {
  font-weight: bold;
}

.center {
  font-family: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  font-size: 1vw;
  gap: 1vw;
  align-items: center;
}

.center ul i {
  margin-right: 0.3vw;
}

.center .active {
  font-weight: 900;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

.right {
  width: 20vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.right button {
  background-color: rgb(202, 62, 62);
  border: none;
  padding: 0.8vw 2vw;
  border-radius: 10px;
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
}

.right button:hover {
  transform: scale(1.1);
  background-color: #cc2200;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vw 0 20vw 0;
}

.join-us {
  border: 3px solid white;
  border-radius: 0.3vw;
  height: 100%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 7px;
  text-align: center;
  background-color: rgb(77 88 218 / 5%);
}

.join-us h1 {
  font-size: 3vw;
  margin: 1vw 0;
  font-weight: 900;
}

.join-us .form input,
textarea {
  width: 40vw;
  overflow: hidden;
  color: black;
  margin: 1vw 0;
  font-size: 1.5vw;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 0.3vw 1vw;
}

.join-us .form input:hover,
textarea:hover {
  background-color: #d3d3d3;
}

.join-us form button {
  padding: 1vw 3vw;
  margin: 1vw;
  color: black;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease;
}

.join-us form .submit {
  background-color: rgba(76, 217, 102, 1);
}

.join-us form .submit:hover {
  transform: scale(1.1);
  background-color: #00cc00;
}

.join-us form .reset {
  background-color: rgba(217, 76, 76, 1);
}

.join-us form .reset:hover {
  transform: scale(1.1);
  background-color: #cc2200;
}

.plans {
  padding: 3vw 0vw;
}

.plans h1 {
  font-size: 3.7vw;
  margin: 5vw 0 0 2vw;
}

.couple {
  border: 3px solid white;
  border-radius: 0.7vw;
  width: 90vw;
  height: 12vw;
  margin: 3vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  background-image: url("plan1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
}

.couple-content {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 0.3vw 1vw;
  border-radius: 0.3vw;
  font-size: 1.7vw;
}

.belly {
  border: 3px solid white;
  border-radius: 0.7vw;
  width: 90vw;
  height: 12vw;
  margin: 3vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  background-image: url("plan2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
}

.belly-content {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 0.3vw 1vw;
  border-radius: 0.3vw;
  font-size: 1.7vw;
}

.butt {
  border: 3px solid white;
  border-radius: 0.7vw;
  width: 90vw;
  height: 12vw;
  margin: 3vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  background-image: url("plan3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
}

.butt-content {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 0.3vw 1vw;
  border-radius: 0.3vw;
  font-size: 1.7vw;
}

.couple h1,
.belly h1,
butt h1 {
  font-size: 2.5rem;
}

.discover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(77 88 218 / 72%);
  font-size: 2vw;
  border-radius: 1vw;
  padding: 1vw 0;
}

.discover button {
  padding: 1vw 5vw;
  border-radius: 10px;
  color: white;
  border: none;
  background: goldenrod;
  font-size: 1.7vw;
  color: #000;
  cursor: pointer;
}
